<mat-toolbar color="primary">
    <div class="projetos">
      <mat-button routerLink="/uesc" (click)="selecionarProjeto('uesc')" [ngClass]="{'selecionado': 'uesc' === projetoSelecionado}">
        UESC Angular
      </mat-button>
      <mat-button routerLink="/wiki" (click)="selecionarProjeto('wiki')" [ngClass]="{'selecionado': 'wiki' === projetoSelecionado}">
        Wikipedia API
      </mat-button>
      <mat-button routerLink="/jreader" (click)="selecionarProjeto('jreader')" [ngClass]="{'selecionado': 'jreader' === projetoSelecionado}">
        Airplane Dex
      </mat-button>
    </div>
  </mat-toolbar>