<div class="content">
    <form class="formulario" (ngSubmit)="geraHistorico()">
        <h2 class="titulo">Histórico do animal</h2>
        <br>
        <mat-form-field appearance="outline" class="form">
        <mat-label>Selecione o brinco do Suíno</mat-label>
         <mat-select [(ngModel)]="brincoSelecionado" name="brincoSuino">
        <mat-option *ngFor="let suino of suinos" [value]="suino.brinco">{{ suino.brinco }}</mat-option>
         </mat-select>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary">Exibir histórico</button>
    </form>

    <div class="mat-elevation-z8" *ngIf="historicoSuinoList.length > 0"> 
       
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header="data"> Data </th>
              <td mat-cell *matCellDef="let element"> {{element.data}} </td>
            </ng-container>
    
            <ng-container matColumnDef="atividade">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header="atividade"> Atividade </th>
              <td mat-cell *matCellDef="let element"> {{element.atividade}} </td>
            </ng-container>
      
            <ng-container matColumnDef="resultado">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header="resultado">&nbsp;</th>
              <td mat-cell *matCellDef="let element"> {{element.resultado}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>










































      <!-- <div class="graficos">
        <div class="pesagem">
            <button mat-button color="primary" 
                [disabled]="!historicoCarregado" 
                (click)="historicoCarregado ? pesoHistorico() : null"
            >Histórico de pesos</button>
        </div>
        <div class="atividade">
            <button mat-button color="primary" 
                [disabled]="!historicoCarregado"
                (click)="historicoCarregado ? sessaoHistorico() : null"
            >Histórico de atividades</button>
        </div>
    </div>
</div>
<div class="content" *ngIf="historicoCarregado"> -->
    
</div>
</div>
    