html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.paleta{
    color:#F2C4C8 ;
    color: #0D0007;
    color: #8C4A4A;
    color: #D98282;
    color: #F2A7A7;
}