.title{
 
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight:900;
    font-style: normal;
    color: #3a1d00;
  
  }
  
  .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      align-content: center;
      justify-content: center;
      padding-bottom: 50px;
      margin-bottom: 10px;
    }
    
    video {
      border-radius: 10px;
      width: 910px;
      height: 540px;
      object-fit: cover;
      border: 2px solid white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 100px;
      
    }

    .content{
        text-align: center;
    }
  