<div class="content">
    <div class="home">
        <div class="logo">
        <img src="../assets/OincFarm-logo.png" alt="Logo da OincFarm" width="500" height="200">
        </div>
        <div class="menu">
            <button class="botao" id="cadastro" routerLink="/listarPeso" routerLinkActive="active"> CADASTRO DE PESO</button>
            <button class="botao" id="listagem" routerLink="/controlePeso" routerLinkActive="active"> MONITORAÇÃO DE SUÍNOS</button>
        </div>
    </div>
    </div>
