
<h1 class="form"> Formulário</h1>
<div class="formulario">
   
    <form [formGroup]="cadastroDeCarroForm" (ngSubmit)="onSubmit()" class="cadastroCarro">
    <label>Marca:</label>
    <input class="marca" formControlName="marca">
    <br>
    <label>Modelo:</label>
    <input class="modelo" formControlName="modelo">
    <br>
    <label>Ano:</label>
    <input class="ano" formControlName="ano">
    <br>
    <label>Valor:</label>
    <input class="valor" formControlName="valor">
    <br>
    <label>Cor:</label>
    <input class="cor" type="color" formControlName="cor">
    <br>
    <label>Foto:</label>
    <input class="foto" type="file" formControlName="foto">
    <br>
    <button class="botao" type="submit"> Enviar </button>


</form>
</div>