<div class="content">
<div class="home">
    <div class="logo">
    <img src="../assets/OincFarm-logo.png" alt="Logo da OincFarm" width="500" height="200">
    </div>
    <div class="menu">
        <button class="botao" id="cadastro" routerLink="/cadastrarSuino" routerLinkActive="active"> CADASTRO DE SUÍNO</button>
        <button class="botao" id="listagem" routerLink="/listarSuinos" routerLinkActive="active"> LISTAGEM DE SUÍNOS</button>
        <button class="botao" id="monitoracao" routerLink="/menuPeso" routerLinkActive="active"> MONITORAÇÃO DE PESO</button>
        <button class="botao" id="sessao" routerLink="/menuSessao" routerLinkActive="active"> MANEJO SANITÁRIO</button>
    </div>
</div>
</div>