<div class="content">
  <div class="header">
    <h2 class="titulo">Listagem de Sessoes</h2>
  </div>

  <table mat-table [dataSource]="sessoes" class="mat-elevation-z8">

    <ng-container matColumnDef="dataDescricao">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let sessao">{{ sessao.data }} # {{ sessao.descricao}}</td>
    </ng-container>
    
    <ng-container matColumnDef="brinco">
      <th mat-header-cell *matHeaderCellDef>Brincos</th>
      <td mat-cell *matCellDef="let sessao">{{ sessao.brincos }}</td>
    </ng-container>

    <ng-container matColumnDef="atividades">
      <th mat-header-cell *matHeaderCellDef>Atividades</th>
      <td mat-cell *matCellDef="let sessao">{{ sessao.atividadesPlanejadas }}</td>
    </ng-container>
    
    <!-- Adicionando coluna para o botão -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let sessao">
        <button mat-icon-button routerLink ="/sessoes/{{sessao.id}}">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Definindo a ordem das colunas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-container *ngIf="!sessoes || sessoes.length === 0">
    <div class="no-data-found">Nenhuma sessão encontrada.</div>
  </ng-container>
</div>



