@import '@angular/material/prebuilt-themes/indigo-pink.css';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 10px;
    margin-bottom: 50px;
  }
  