.form {
    border: solid 4px #652c2c;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #fdf4e5;
    border-radius: 30px;
    padding: 10px;
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto; 
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;

  }

  .form-container {
    width: 100%;
  }

  .span{
    font-family: "Lora", serif;
    color: crimson;
    margin-top: -15px;
  }


  .title{
    font-family: "Lora", serif;
    font-size: 30px;
    color:#652c2c;
}

.password{
  border: none;
  border-radius: 5px;
  background-color: #8C4A4A;
  color: white;
}

#guest{
  margin-left: 15px;
}


.label{
  font-family: "Lora", serif;
  font-weight: bold;
  color:#8C4A4A;
  font-size: larger;
}

input{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 50%;
  height: 30px;
  border: 3px solid #652c2c;
  font-family: "Lora", serif;
  font-size: 18px;
  color: #3a1d00;
  background-color: #fdf4e5;
  border-radius: 5px;
  padding-left: 10px;
}

.button{
  background-color: #C6B69D;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  color:#3a1d00;
  width: 150px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.button:hover{
  background-color: #824D00;
  color: #ffffff;
  border: 3px solid #C6B69D;
  transition-duration: 0.3s;
  cursor: pointer;
  
}


