
.content{
    display: flex;
    margin-bottom: 800px;
}

.items{
    width: 75%;
}

.item{
    max-height: 100px;
    border: 3px solid gray;
    background-color:aliceblue;
    display: flex;
    padding: 20px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
   

}

.others{

    display: flex;
    max-height: 30px;
    align-items: center;
    margin-top: -10px;
}

.price{
    font-weight: 100px;
}

.description{
   
  
    margin-left: 20px;
}

.quantity{
    border: 1px solid lightgray;
    font-family: "Montserrat", sans-serif;
    margin-left: 15px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}

.delete-button{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color:brown;
}

.delete-button:hover{
    background-color:darkred;
    transition-duration: 0.3s;
}

.cover{
    border: 2px solid black;
}

.sub-total{
    width: 20%;
    max-height: 100px;
    border: 1px solid goldenrod;
    background-color:lightgoldenrodyellow;
    display: flex;
    padding: 30px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;

}

.shopping-cart {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Define a altura mínima como 100% da viewport */
  }
  
  .footer {
    position:relative;
    bottom: 0;
    width: 100%; /* Define a largura como 100% da viewport */
  }
  


  
  


