.home{  
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
}

.logo{
    border: 10px solid #D98282;
    background-color: white;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
}

.botao{
    color: #F2C4C8 ;;
    width: 200px;
    height: 120px;
    font-size: 25px;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    margin: 20px;
    transition: all .2s ease-in-out; 
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.5);
}

.botao:hover { 
    transform: scale(1.1);
    color: white;
    cursor:pointer;
    }

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 4px solid #652c2c; ;
    border-radius: 20px;
    margin-left: 50px;
    padding: 20px;
}

#cadastro{
    background-color: #652c2c;
}

#listagem{
    background-color: #8C4A4A;
}

#monitoracao{
    background-color: #D98282;
}