<div class="container">
  <div class="header">
      <div class="logo">PetShop</div>    
      <div class="nav-links" *ngIf="estaAutenticado">
         <!-- Verifica se o usuário está logado antes de renderizar os links de navegação -->
      <a routerLink="/cadastrarAtendimento" routerLinkActive="active">Cadastro</a>
      <a routerLink="/listarAtendimentos" routerLinkActive="active">Listar</a>
      </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
      <p>&copy; 2024 Residência - Leandro Garcia. Todos os direitos reservados. <a href="#">Política de Privacidade</a> | <a href="#">Termos do serviço</a></p>
  </div>
</div>