.item{
    border: 1px solid gray;
    background-color:aliceblue;
    display: flex;
    padding: 30px;
    margin: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: 100;

}

.description{
    margin-left: 20px;
}

.cart-button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color:darkorange;
}

.cart-button:hover{
    background-color:gold;
    transition-duration: 0.3s;
    width: 110px;
  
}

.cart-button:active{
    background-color:lightgreen;
    transition-duration: 0.3s;
    width: 110px;
  
}

.cover{
    border: 5px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Define a altura mínima como 100% da viewport */
  }
  
  .footer {
    flex: none; /* Evita que o footer cresça */
  }
  
  


