body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que o corpo da página ocupe pelo menos toda a altura da viewport */
}

.header{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:blanchedalmond;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid chocolate;
}

.form-adicionar{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size:larger;
    background-color:darksalmon;
    color: white;
    padding: 20px;
    margin: 50px;
    border: 30px;
    border-radius: 5px;  
}

.form-adicionar:hover{
    transition-duration: 10ms;
    background-color: chocolate;
}

.listar{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size:larger;
    background-color:darksalmon;
    color: white;
    padding: 20px;
    margin: 50px;
    margin-bottom: 30px;
    border-radius: 5px;  
}

.listar:hover{
    transition-duration: 10ms;
    background-color: chocolate;
}

.content{
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante na vertical */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-top: 5px solid chocolate;
    width: 100%;
    background-color: bisque;
    position:fixed;
    bottom: 0;
    left: 0;
}