.head {
    
    grid-area: header;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
    font-family: 'Crimson Text', serif;
             
}


.logo_uesc{
  
    padding-left: 50px;
    max-width: 80px;
    max-height: 80px;

}


