/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.formulario{
    margin: 0 auto; /* Define margens automáticas para alinhar o elemento ao centro horizontalmente */
    text-align: center; /* Alinha o conteúdo ao centro */
    margin-bottom: 100px;
  }




  
